.carrosel1 {
    background-color: var(--light-gray-3);
    padding-bottom: 140px;

    .carroselTexto{
        width: 480px;
        margin-top: 120px;
        margin-left: 80px;

        .p1{
            font-weight: bold;
            color: var(--warning);
            font-size: 20px;
        }

        h1{
            font-weight: bold;
            font-size: 65px;
        } 
        
        .p2{
            margin-top: 20px;
            color: var(--dark-gray-2);
            font-size:20px;
        }
    }

    .White-Sneakers1 {
        margin-top: 120px;
        margin-left: 100px;
    }

    .Ornament11 {
        margin-top: 70px;
        padding-left: 40px;
    }
}
