

:root{
    
    --dark-gray:#1F1F1F;
    --dark-gray-2: #474747;
    --dark-gray-3: #666666;
    --light-gray: #8F8F8F;
    --light-gray-2: #CCCCCC;
    --light-gray-3: #F5F5F5;
    --primary: #C92071;
    --secondary: #B5B6F2;
    --error: #EE4266;
    --success: #52CA76;
    --warning: #F6AA1C;
    --white:  #FFFFFF;
    --tertiary: #991956;
    --primary-gradient: linear-gradient(to bottom, #C92071, #EDABCA);
    --secondary-gradient: linear-gradient(to bottom, #B5B6F2, #EFEFFF);

    }
    main{
        background-color:  #FFFFFF;

    }
    .nav-main {
        padding-top: 20px;
    }
    
    .ordem-main {
        display: flex;
        list-style-type: none;
        margin-left: 80px;
        background-color:  #FFFFFF;;  
    }
    
    .item-main a{
        color: var(--dark-gray-2);
        font-size: 14px;
        padding: 0 10px 0 0;
        text-decoration: none;


    }
    
    .item-main a:hover {
        font-weight: 600;
    }

    
    .Galeria{
    width: 700px;
    height: 570px;
    border-radius: 4px;
    background-color: rgba(226, 227, 255, 1);
    border: 2px;
    border-color: var(--dark-gray-2);
    margin-left: 100px;


    }
    
    .imagem{
    width: 83.8px;
    height: 41.7px;
    border-radius: 4px;
    }
   

    .div2{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-left: 100px;
    }
    .product{
        margin-top: 1041px;
    }